/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

// * Wordpress post gallery grid
.gallery {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -10px;
  margin-top: -5px;

  @media (min-width: $breakpoint-medium) {
    align-items: flex-start;
    flex-direction: row;
  }

  .wp-caption-text.gallery-caption {
    display: none;
  }

  &-item {
    width: 100%;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    padding-left: 10px;

    img {
      height: auto;
    }
  }

  &-icon > img {
    height: auto;
    width: 100%;
  }

  &-columns {

    @media (min-width: $breakpoint-medium) {

      &\-1 > .gallery-item {
        width: 100%; // 100% / 1
      }

      &\-2 > .gallery-item {
        width: 50%; // 100% / 2
      }

      &\-3 > .gallery-item {
        width: 33.33%; // 100% / 3
      }

      &\-4 > .gallery-item {
        width: 25%; // 100% / 4
      }

      &\-5 > .gallery-item {
        width: 20%; // 100% / 5
      }

      &\-6 > .gallery-item {
        width: 16.66%; // 100% / 6
      }

      &\-7 > .gallery-item {
        width: 14.28%; // 100% / 7
      }

      &\-8 > .gallery-item {
        width: 12.5%; // 100% / 8
      }

      &\-9 > .gallery-item {
        width: 11.11%; // 100% / 9
      }
    }
  }
}
